<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.nicepng.com%2Fpng%2Fdetail%2F207-2079223_picture-fab-lab-icon.png&tbnid=NQjcV4cHaHYHLM&vet=12ahUKEwjv8rGs1dSAAxUwTGwGHVHiBzQQMygcegUIARCrAQ..i&imgrefurl=https%3A%2F%2Fwww.nicepng.com%2Fourpic%2Fu2w7w7o0o0r5y3q8_picture-fab-lab-icon%2F&docid=m_E03qwQX1ZdaM&w=820&h=880&q=placement%20cell%20fab%20icon%20png%20&ved=2ahUKEwjv8rGs1dSAAxUwTGwGHVHiBzQQMygcegUIARCrAQ">
    <%- style %>
</head>
<body>
    <%- include('_header') %>

    <%- body %>

    <%- script %>
</body>
</html>
